.loadingContainer {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0);
}

.loadingText {
    color: rgb(156 163 175);
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 2.25rem;
    font-weight: 700;
    color: white;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: rgb(156 163 175);
}